
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
    margin: 0;
    text-align: center;
}

.img {
  width: 300px;
  color: var(--Soft--violet);
  opacity: 0.1;
 
}


.header {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  background: var(--Very--dark--blue);
  font-family: font-family: 'Happy Monkey', system-ui;
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Orbitron', sans-serif;;
}
h1 {
  color: var(--White);
}
p {
  color: var(--Slightly);
}
h3 {
  color: var(--White);
}


.border-blue {
  border: 1px dotted black;
}


  :root {
    --Very--dark--blue: hsl(233, 47%, 7%);
   --Dark--desaturated--blue: hsl(244, 38%, 16%);
   --Soft--violet: hsl(277, 64%, 61%);
   --White: hsl(0, 0%, 100%);
   --Slightly: hsla(0, 0%, 100%, 0.75);
   --Slightly: hsla(0, 0%, 100%, 0.6);
   }
   